body{
	background: #fff url(../img/bg.jpg) no-repeat 0 0;
	background-size: 100% 100%;
}
.container {
    overflow: hidden;
}

.left {
	display: none;
}

.right {
      float: left;
  opacity: 0.7;
  background-color: #F24040;
  text-align: center;
  color: #fff;
    border: 1px solid #fff;
  border-radius: 14px;
}
.title {
	  padding-top: 3em;
}
.next_com {
	
}
#nextCom {
	background-color: #eee;
}

canvas#main {
  border: 1px solid #fff;
  border-radius: 3px;
}
#showData {
  

}
.scored,
.level{
  
}
.scored h3,
.level h3{
    font-size: 22px;
  border: 1px solid #fff;
  margin: 0px 10px;
  border-radius: 5px;
}
.ctrl {
	
}
.center {
	float: left;
}

.button {
    min-height: 1.5em;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    opacity: 0.9;
      margin-top: 0.3em;
    color: #FFF;
    font-size: 1em;
    letter-spacing: 1px;
    text-shadow: rgba(0,0,0,0.9) 0px 1px 2px;
    
    background: #434343;
    border: 1px solid #242424;
 
    border-radius: 4px;
    box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, 
    	inset rgba(255,255,255,0.25) 0px 1px 0px, 
    	inset rgba(0,0,0,0.25) 0px 0px 0px,
     	inset rgba(255,255,255,0.03) 0px 20px 0px, 
     	inset rgba(0,0,0,0.15) 0px -20px 20px, 
     	inset rgba(255,255,255,0.05) 0px 20px 20px;
    transition: all 0.1s linear;
}





